h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
}
body{
    background-image: url(img/anonymous.gif);
    background-size: 100px;
}